<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

  <style>
    body {
      ;
      background: url(https://vsthemes.org/uploads/posts/2022-06/1654952558_11-06-2022-17_55_11.png) no-repeat;
      -moz-background-size: 100%; /* Firefox 3.6+ */
      -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
      -o-background-size: 100%; /* Opera 9.6+ */
      background-size: 100%;
    }

    tr{
      background-color: greenyellow;
    }
  </style>
  <meta charset="UTF-8">
  <title>Юзер</title>
</head>
<body>



<div>
  <table th:align="center" th:border="1">
    <tr>
      <th>ID</th>
      <th>ИМЯ</th>
      <th>ФАМИЛИЯ</th>
      <th>EMAIL</th>
    </tr>

    <tr>
      <td th:text="${user.getId()}">value</td>
      <td th:text="${user.getName()}">value</td>
      <td th:text="${user.getLastName()}">value</td>
      <td th:text="${user.getEmail()}">value</td>
    </tr>
  </table>
</div>
<br/>
<hr/>

<div>
  <table th:align="center">
    <tr>
      <th>
        <form th:align="center" th:action="@{/{id}/edit(id=${user.getId()})}">
          <button type="submit">update</button>
        </form>
      </th>

      <th>
        <form th:align="center" th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </th>
      <th>
        <form th:align="center" th:action="@{/}">
          <button type="submit">go back</button>
        </form>
      </th>
    </tr>
  </table>
</div>
<br>
<div>
  <table>
    <tr>
    </tr>
  </table>
</div>



</body>
</html>